@using Microsoft.Extensions.Options
@using Serilog.Dashboard.Provider.Options

<nav id="navbar-main"
     class="navbar navbar-expand-lg navbar-light navbar-default fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand p-0"
           href="/">
            @Options.Value.Name
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-main-menu"
                aria-controls="navbar-main-menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbar-main-menu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a id="navbar-main-logs-link"
                       class="nav-link"
                       href="/">
                        Logs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    [Inject]
    public required IOptions<DashboardOptions> Options { get; set; }
}
